<!DOCTYPE html>

{% extends 'base.html' %}

{% block content %}

<style>
/* Style the buttons inside the tab */
.tab button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	font-size: 17px;
  }

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #fff;
  border: 1px solid blue;
	border-bottom: none;
}

/* Create an active/current tablink class */
.tab button {
  background-color: #fff;
  border: 1px solid blue;
	border-top: none;
	border-left: none;
	border-right: none;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
}

</style>

{% if user.is_authenticated %}

<br>
<h2> <strong> Profile analysis for {{ data_dict.machine }}-{{ data_dict.date_meas }} </strong></h2>

<div class="w3-container" style="width:90% height:90%">
	<h4>
		<div class="tab">
			<button class="tablinks" onclick="openTab(event, 'AFiles')" id="defaultOpen"> Analyzed files</button>
			<button class="tablinks" onclick="openTab(event, 'OAR')"> OAR % difference</button>
			<button class="tablinks" onclick="openTab(event, 'FS')"> Flatness and Symmetry % Difference</button>
			<button class="tablinks" onclick="openTab(event, 'Prof')"> X and Y Profiles</button>
		</div>

	</h4>

	<div id="AFiles" class="tabcontent">
		<div class="w3-row-padding">
			<p>
			<div class="w3-col l6 m4 s2 w3-center">
				<table class="w3-table-all  w3-right-aligned w3-card-4">
					<thead>
					<tr class="w3-blue">
						<th>Energy</th>
						<th>Monthly Data Files</th>
					</tr>
					</thead>

				{% for e, v in data_fnames.items %}
					<tr>
						<td>{{e}}</td>
						<td>{{v}}</td>
					</tr>
				{% endfor %}
				</table>
			</div>

			<div class="w3-col l6 m4 s2 w3-center">
				<table class="w3-table-all  w3-right-aligned w3-card-4">
					<thead>
					<tr class="w3-blue">
						<th>Energy</th>
						<th>Baseline Files</th>
					</tr>
					</thead>

				{% for e, v in base_fnames.items %}
					<tr>
						<td>{{e}}</td>
						<td>{{v}}</td>
					</tr>
				{% endfor %}
				</table>
			</div>
		</div>
	</div>

	<div id="OAR" class="tabcontent">
		<div class= "w3-row-padding">
			<svg viewBox="0 0 1000 400" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" preserveAspectRatio="xMidYMid meet"> {{graph_oar|safe }}	</svg>
		</div>

		<br>
		<div class="button button_r12">
			<div class="w3-center w3-card-4">
			OAR % dif tolerances: warning: >{{ tol_oar.p1 }}, fail: >{{ tol_oar.p2 }}. (Read from config)
			</div>
		</div>
		<br>

		<div class="w3-row-padding">

			<div class="w3-col l6 m4 s2 w3-center">
				<table class="w3-table-all  w3-right-aligned w3-card-4">
					<thead>
					<tr class="w3-blue">
						<th>Axis</th>
						<th>Energy</th>
						{% for c in oar_coord %}
						<th> % OAR_dif ({{c}}) </th>
						{% endfor %}
					</tr>
					</thead>

				{% for e, values in OAR_dif.X.items %}
					<tr>
						<td>X</td>
						<td>{{e}}</td>
						{% for v in values %}
						<td>
							{% if v > tol_oar.p2 or v < tol_oar.n2 %}
								<div class="w3-red"> <strong> {{v}} </strong> </div>
							{% elif v > tol_oar.p1 or v < tol_oar.n1 %}
								<div class="w3-amber"> <strong> {{v}} </strong> </div>
							{% else %}
								{{v}}
							{% endif %}
						</td>
						{% endfor %}
					</tr>
				{% endfor %}
				</table>
			</div>
			<div class="w3-col l6 m4 s2 w3-center">
				<table class="w3-table-all  w3-right-aligned w3-card-4">
					<thead>
					<tr class="w3-blue">
						<th>Axis</th>
						<th>Energy</th>
						{% for c in oar_coord %}
						<th> % OAR_dif ({{c}}) </th>
						{% endfor %}
					</tr>
					</thead>

				{% for e, values in OAR_dif.Y.items %}
					<tr>
						<td>Y</td>
						<td>{{e}}</td>
						{% for v in values %}
						<td>
							{% if v > tol_oar.p2 or v < tol_oar.n2 %}
								<div class="w3-red"> <strong> {{v}} </strong> </div>
							{% elif v > tol_oar.p1 or v < tol_oar.n1 %}
								<div class="w3-amber"> <strong> {{v}} </strong> </div>
							{% else %}
								{{v}}
							{% endif %}
						</td>
						{% endfor %}
					</tr>
				{% endfor %}
				</table>
			</div>
		</div>
	</div>

	<div id="FS" class="tabcontent">
		<div class= "w3-row-padding">
			<svg viewBox="0 0 1000 400" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" preserveAspectRatio="xMidYMid meet"> > {{ graph_fs|safe }} </svg>
		</div>

		<br>
		<div class="button button_r12">
			<div class="w3-center w3-card-4">
			F & S % dif tolerances: warning: >{{ tol_fs.p1 }}, fail: >{{ tol_fs.p2 }}. (Read from config)
			</div>
		</div>
		<br>

		<div class="w3-row-padding">

			<div class="w3-col l6 m4 s2  w3-center">
			<table class="w3-table-all w3-right-aligned w3-card-4">
				<thead>
					<tr class="w3-blue">
					<th>Energy</th>
					<th>Axis</th>
					<th> Flat % dif </th>
					<th> Sym % dif </th>
					</tr>
				<thead>

			{% for e, values in FS_dif.X.items %}
					<tr>
						<td>X</td>
						<td>{{e}}</td>
						{% for v in values %}
						<td>
							{% if v > tol_fs.p2 or v < tol_fs.n2 %}
								<div class="w3-red"> <strong> {{v}} </strong> </div>
							{% elif v > tol_fs.p1 or v < tol_fs.n1 %}
								<div class="w3-amber"> <strong> {{v}} </strong> </div>
							{% else %}
								{{v}}
							{% endif %}
						</td>
						{% endfor %}
					</tr>
				{% endfor %}
				</table>

			</div>
			<div class="w3-col l6 m4 s2  w3-center">
			<table class="w3-table-all w3-right-aligned w3-card-4">
				<thead>
					<tr class="w3-blue">
					<th>Axis</th>
					<th>Energy</th>
					<th> Flat % dif </th>
					<th> Sym % dif </th>
					</tr>
				<thead>

			{% for e, values in FS_dif.Y.items %}
					<tr>
						<td>Y</td>
						<td>{{e}}</td>
						{% for v in values %}
						<td>
							{% if v > tol_fs.p2 or v < tol_fs.n2 %}
								<div class="w3-red"> <strong> {{v}} </strong> </div>
							{% elif v > tol_fs.p1 or v < tol_fs.n1 %}
								<div class="w3-amber"> <strong> {{v}} </strong> </div>
							{% else %}
								{{v}}
							{% endif %}
						</td>
						{% endfor %}
					</tr>
				{% endfor %}
				</table>
			</div>
		</div>
	</div>

	<div id="Prof" class="tabcontent">
		<div class= "w3-row">
			<svg viewBox="0 0 600 800" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" preserveAspectRatio="xMidYMid meet"> > {{ graph_prof|safe }} </svg>
	</div>

</div>

{% else %}
	<h3 class="w3-red" style="width:50%"> Please login to proceed </h3>
{% endif %}

<br>
<br>
<script>
function openTab(evt, tabName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(tabName).style.display = "block";
  evt.currentTarget.className += " active";
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>

{% endblock %}
