{% extends 'base.html' %}
{% block content %}

<p>
<h2>Confirm or customize settings (carefully):</h2>
<p>
<h4>
	<div class="w3-container" style="width:50vw" >
		<form action="" method="post"  enctype="multipart/form-data"  class="w3-light-grey w3-card-4">
			<label class="w3-text-blue">
			{% csrf_token %}
				<table class="w3-table-all">
				{{ form.as_table }}
				</table>
			</label>
			<input type="submit" value="Looks good" class="w3-button w3-blue align-center">
		</form>
	</div>
<br>
</h4>

{% endblock %}
