{% extends 'base.html' %}
{% block content %}
<p>
<h2>Upload your saved csv for trends plotting:</h2>
<p>

<h4>
	<div class="w3-container" style="width:50vw" >
		<form action="" method="post"  enctype="multipart/form-data"  class="w3-light-grey w3-card-4">
			<label class="w3-text-blue">
			{% csrf_token %}
				<table class="w3-table-all">
				{{ form.as_table }}
				</table>

				<input type="submit" value="Load CSV" class="w3-button w3-indigo">
			</label>
		</form>
		<ul>
			<li>Press Choose File, the File Upload window will open. Navigate to your locally saved csv file. It should be
			in the folder that is used as a default download folder by your browser.
			Usually it is the Downloads or Documents folder on your computer.
			<li> Wait until "No file chosen" changes to the name of your csv file.
			<li> Then press Plot Trends button.
			<li> A form to select desired energy will open in the next view.
		</ul>
	</div>
<br>
</h4>

{% endblock %}
