{% extends 'base.html' %}
{% block content %}
<p>
<h2>Upload baseline mapcheck files:</h2>
<p>
<h4>
	<div class="w3-container" style="width:50vw" >
		<form action="" method="post"  enctype="multipart/form-data"  class="w3-light-grey w3-card-4">
			<label class="w3-text-blue">
			{% csrf_token %}
				<table class="w3-table-all">
				{{ form.as_table }}
				</table>
				<input type="submit" value="Load Baselines" class="w3-button w3-amber">
			</label>
		</form>
		<ul>
			<li> Press Choose Files, the File Upload window will open. Navigate to your locally saved mapcheck files,
			select those that belong to the desired machine and the baseline date,
			<li> Then press Load Baselines ... button and wait a few seconds for files to finish uploading.
			<li> On completion of file upload, the program will forward itself to the next view ( Load Monthly ..).
		</ul>
	</div>
<br>
</h4>
{% endblock %}
