{% extends 'base.html' %}
{% block content %}
<p>
<h2>Upload your saved csv for trends plotting:</h2>
<p>

<h4>
	<div class="w3-container" style="width:50vw" >
		<form action="" method="post"  enctype="multipart/form-data"  class="w3-light-grey w3-card-4">
			<label class="w3-text-blue">
			{% csrf_token %}
				<table class="w3-table-all">
				{{ form.as_table }}
				</table>

				<input type="submit" value="Load CSV" class="w3-button w3-indigo">
			</label>
		</form>
		Please wait until your csv file replaces "No File chosen" then presee Load CSV. Then press Plot Trends to see trends.
	</div>
<br>
</h4>

{% endblock %}
