{% extends 'base.html' %}
{% block content %}
<p>
<h2>Upload monthly mapcheck files:</h2>
<p>

<h4>
	<div class="w3-container" style="width:50vw" >
		<form action="" method="post"  enctype="multipart/form-data"  class="w3-light-grey w3-card-4">
			<label class="w3-text-blue">
			{% csrf_token %}
				<table class="w3-table-all">
				{{ form.as_table }}
				</table>

				<input type="submit" value="Load Monthly and Process" class="w3-button w3-green">
			</label>
		</form>
		<ul>
			<li>Press Choose Files, the File Upload window will open. Navigate to your locally saved mapcheck files,
			select those that belong to the chosen machine and date,
			<li> Wait until "No file chosen" changes to a number (of loading files).
			<li> Then press Load Monthly ... button and wait a few seconds for files to finish uploading.
			<li> On completion of file upload, the program will process data and show results.
		</ul>

	</div>
<br>
</h4>

{% endblock %}
